{% extends "admin_template/base.html" %}
{% load static %}
{%block content%}

<section class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <!-- general form elements -->
            <!-- <div class="card card-primary"> -->
              <div class="card-header">
                <h3 class="card-title">Add Bus</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form"  method="POST" >
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label style="color: rgb(255, 0, 0);font-size: large;">Bus Name</label>
                    <input type="text" class="form-control" name="bus name" placeholder="Enter Bus Name" required   autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label style="color: rgb(255, 0, 0);font-size: large;">Source</label>
                    <input type="text" class="form-control" name="source" placeholder="Source" required>
                  </div>
                  <div class="form-group">
                    <label style="color: rgb(255, 0, 0);font-size: large;">Destination</label>
                    <input type="text" class="form-control" name="destination" placeholder="Destination" required>
                  </div>
                  <div class="form-group">
                    <label style="color: rgb(255, 0, 0);font-size: large;">Nos</label>
                    <input type="number" class="form-control" name="nos" placeholder="Nos" required>
                  </div>
                  <div class="form-group">
                    <label style="color: rgb(255, 0, 0);font-size: large;">Rem</label>
                    <input type="number" class="form-control" name="rem" placeholder="Rem"  autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label style="color: rgb(255, 0, 0);font-size: large;">Price</label>
                    <input type="number" class="form-control" name="price" placeholder="Price" required>
                  </div>
                  <div class="form-group">
                    <label style="color: rgb(255, 0, 0);font-size: large;">Date</label>
                    <input type="date" class="form-control" name="date"  required>
                    
                  </div>
                  <div class="form-group">
                    <label style="color: rgb(255, 0, 0);font-size: large;">Time</label>
                    <input type="time" class="form-control" name="time"  required>
                    
                  </div>
                </div>
                <div class="form-group">
                    {% if messages %}
                      {% for message in messages %}
                      {% if message.tags == 'error' %}
                      <div class="alert alert-danger" style="margin-top:10px;">{{message}}</div>
                      {% endif %}
                      {% if message.tags == 'success' %}
                      <div class="alert alert-success" style="margin-top:10px;">{{message}}</div>
                      {% endif %}
                      {% endfor %}
                    {% endif %}
                  </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Add Bus</button>
                </div>
              </form>
            <!-- </div> -->
            <!-- /.card -->

           
    </div>
  </section>
{% endblock %}
