{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "css/seat.css" %}">

<div class="content-section">
    <form action="{% url 'bookings' %}" method="post" id="book">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Bus Booking</legend>
            {{ form|crispy }}
        </fieldset>
        <div>
            <input name='bus_id' class="form-control" type="number" id="example-email-input" placeholder="Enter ID of the Bus to Book" value="{{ bus.id }}" hidden>
        </div>
        <!-- <div>
            <input name='no_seats' class="form-control" type="number" placeholder="Enter No of Seats to Book Here">
        </div> -->
        <div class="row">
            <h3 class="text-black m-2">P</h3>
            <div class="seat seat1">
              <input type="text"  name="" checked />
              <label ></label>
            </div>
        </div>
        <div class="row">
            <h3 class="text-black m-2">A</h3>
            <div class="seat" id="A1">
              <input type="checkbox" value="#A1" id="seatA1" name="check" />
              <label for="seatA1"></label>
            </div>
            <div class="seat" id="A2">
              <input type="checkbox" value="#A2" id="seatA2" name="check" />
              <label for="seatA2"></label>
            </div>
            <div class="space"></div>
            <div class="seat" id="A3">
              <input type="checkbox" value="#A3" id="seatA3" name="check" />
              <label for="seatA3"></label>
            </div>
            <div class="seat" id="A4">
              <input type="checkbox" value="#A4" id="seatA4" name="check" />
              <label for="seatA4"></label>
            </div>
        </div>
        <div class="row">
            <h3 class="text-black m-2">B</h3>
            <div class="seat" id="B1">
              <input type="checkbox" value="#B1" id="seatB1" name="check" />
              <label for="seatB1"></label>
            </div>
            <div class="seat" id="B2">
              <input type="checkbox" value="#B2" id="seatB2" name="check" />
              <label for="seatB2"></label>
            </div>
            <div class="space"></div>
            <div class="seat" id="B3">
              <input type="checkbox" value="#B3" id="seatB3" name="check" />
              <label for="seatB3"></label>
            </div>
            <div class="seat" id="B4">
              <input type="checkbox" value="#B4" id="seatB4" name="check" />
              <label for="seatB4"></label>
            </div>
        </div>
        <div class="row">
            <h3 class="text-black m-2">C</h3>
            <div class="seat" id="C1">
              <input type="checkbox" value="#C1" id="seatC1" name="check" />
              <label for="seatC1"></label>
            </div>
            <div class="seat" id="C2">
              <input type="checkbox" value="#C2" id="seatC2" name="check" />
              <label for="seatC2"></label>
            </div>
            <div class="space"></div>
            <div class="seat" id="C3">
              <input type="checkbox" value="#C3" id="seatC3" name="check" />
              <label for="seatC3"></label>
            </div>
            <div class="seat" id="C4">
              <input type="checkbox" value="#C4" id="seatC4" name="check" />
              <label for="seatC4"></label>
            </div>
        </div>
        <div class="row">
            <h3 class="text-black m-2">D</h3>
            <div class="seat" id="B1">
              <input type="checkbox" value="#D1" id="seatD1" name="check" />
              <label for="seatD1"></label>
            </div>
            <div class="seat" id="D2">
              <input type="checkbox" value="#D2" id="seatD2" name="check" />
              <label for="seatD2"></label>
            </div>
            <div class="space"></div>
            <div class="seat" id="D3">
              <input type="checkbox" value="#D3" id="seatD3" name="check" />
              <label for="seatD3"></label>
            </div>
            <div class="seat" id="D4">
              <input type="checkbox" value="#D4" id="seatD4" name="check" />
              <label for="seatD4"></label>
            </div>
        </div>
        <div class="row">
            <h3 class="text-black m-2">E</h3>
            <div class="seat" id="E1">
              <input type="checkbox" value="#E1" id="seatE1" name="check" />
              <label for="seatE1"></label>
            </div>
            <div class="seat" id="E2">
              <input type="checkbox" value="#E2" id="seatE2" name="check" />
              <label for="seatE2"></label>
            </div>
            <div class="space"></div>
            <div class="seat" id="E3">
              <input type="checkbox" value="#E3" id="seatE3" name="check" />
              <label for="seatE3"></label>
            </div>
            <div class="seat" id="E4">
              <input type="checkbox" value="#E4" id="seatE4" name="check" />
              <label for="seatE4"></label>
            </div>
        </div>
        <div class="row">
            <h3 class="text-black m-2">F</h3>
            <div class="seat" id="F1">
              <input type="checkbox" value="#F1" id="seatF1" name="check" />
              <label for="seatF1"></label>
            </div>
            <div class="seat" id="F2">
              <input type="checkbox" value="#F2" id="seatF2" name="check" />
              <label for="seatF2"></label>
            </div>
            <div class="space"></div>
            <div class="seat" id="F3">
              <input type="checkbox" value="#F3" id="seatF3" name="check" />
              <label for="seatF3"></label>
            </div>
            <div class="seat" id="F4">
              <input type="checkbox" value="#F4" id="seatF4" name="check" />
              <label for="seatF4"></label>
            </div>
        </div>
        <div class="row">
            <h3 class="text-black m-2">G</h3>
            <div class="seat" id="G1">
              <input type="checkbox" value="#G1" id="seatG1" name="check" />
              <label for="seatG1"></label>
            </div>
            <div class="seat" id="G2">
              <input type="checkbox" value="#G2" id="seatG2" name="check" />
              <label for="seatG2"></label>
            </div>
            <div class="space"></div>
            <div class="seat" id="G3">
              <input type="checkbox" value="#G3" id="seatG3" name="check" />
              <label for="seatG3"></label>
            </div>
            <div class="seat" id="G4">
              <input type="checkbox" value="#G4" id="seatG4" name="check" />
              <label for="seatG4"></label>
            </div>
        </div>
        <br>
        <div class="row bottom">
            <div class="col-9">
              <h1 class="text-white">Selected Seats : <span id="slots"></span></h1>
            </div>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Book</button>
        </div>
        {{error}}
    </form>
</div>

{% for seat in seat%}
<script src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script type="text/javascript">
  $("{{seat.useat}}").addClass("notvacant").children("input").prop("disabled", true);
  $("{{seat.useat}}").children("label").remove();
</script>
{% endfor %}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
  $(".seat").click(function () {
    var favorite = [];
    $.each($("input[name='check']:checked"), function () {
      favorite.push($(this).val());
    });
    

    $("#slots").empty().append(favorite.join(", "));

  });
</script>
{% endblock %}
