{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h3>{{msg}}</h3>
<h2>Buses List</h2>
<table class="table table-striped">
    <thead>
    <td>ID</td>
    <td>BUS NAME</td>
    <td>SOURCE</td>
    <td>DESTINATION</td>
    <td>NUM OF SEATS</td>
    <td>PRICE(KES)</td>
    <td>DATE</td>
    <td>TIME</td>


    </thead>

    {% for row in buses %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.bus_name}}</td>
        <td>{{row.source}}</td>
        <td>{{row.dest}}</td>
        <td>{{row.nos}}</td>
        <td>{{row.price}}</td>
        <td>{{row.date}}</td>
        <td>{{row.time}}</td>


    </tr>
    {% endfor %}
</table>
{% endblock %}