{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static "css/seat.css" %}">

<h3>{{msg}}</h3>
<h2>List of buses</h2>
<table class="table table-striped" >
    <thead>
    <td>BUS ID</td>
    <td>NAME</td>
    <td>SOURCE</td>
    <td>DESTINATION</td>
    <td>NUM OF SEATS</td>
    <td>AVAILABLE</td>
    <td>PRICE(KES)</td>
    <td>DATE</td>
    <td>TIME</td>

    </thead>

    {% for row in bus_list %}
    <tr>
        <td><a href="{% url 'book_seat' row.id %}">{{row.id }}</a></td>
        <td><a href="">{{row.bus_name}}</a></td>
        <td><a href="">{{row.source}}</a></td>
        <td><a href="">{{row.dest}}</a></td>
        <td><a href="">{{row.nos}}</a></td>
        <td><a href="">{{row.rem}}</a></td>
        <td><a href="">{{row.price}}</a></td>
        <td><a href="">{{row.date}}</a></td>
        <td><a href="">{{row.time}}</a></td>

      </a>
    </tr>
    {% endfor %}
</table>


{% endblock %}